.guideCard {
  padding: 10px 4px;
  color: var(--gray-600);
}

.guideCard h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--gray-800);
}

.guideCard ul {
  list-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.guideCard li {
  color: var(--gray-500);
  padding-left: 10px;
  border-left: 2px solid var(--gray-200);
  line-height: 1.4;
}
